.app-text-right{
    text-align:right;
}
.app-push-right{
    float:right;
}
.app-text-left{
    text-align:left;
}
.app-push-left{
    float:left;
}
.app-padding_0{
    padding:0;
}
.app-margin_0{
    margin:0;
}