//##  Default Layout Settings
$app_ionic-font-family:'Helvetica Neue', Roboto, 'Segoe UI';

//##  Default color Settings
$app_header-black-theme:#323846;
$app_background-black-theme:#2c313d;

//##  color variables
$app_color-black:#000000;
$app_color-white:#ffffff;
$app_color-transparent:transparent;
$app_color-theme-blue:#70e9f4;
$app_color-theme-yellow:#f8e097;
$app_color-theme-grey-1:#979da1;
$app_color-theme-grey-2:#2c313d;
$app_color-theme-grey-3:#5a6683;
$app_color-theme-grey-4:#4b556b;
$app_color-theme-purple-1:#6c3c94;
$app_color-theme-purple-2:#8f42c3;
$app_color-theme-purple-3:#8c5dbe;
$app_color-theme-purple-4:#c086e2;
