<div class="row app-thumb-view">
    <div class="app-thumb-table">
        <div class="col app-account-owner">
            <span>John bernard</span>
            <span class="app-push-right">14 Days Left</span>
        </div>
        <div class="col app-account-number">023-44-54456</div>

        <div class="row app-thumb-block">
            <div class="col col-33 app-item-block">
                <div app-box-percentage-indicator class="item-top item-top-left" data="40">Box</div>
                <div class="item-bottom">Data</div>
            </div>
            <div class="col col-33 app-item-block">
                <div app-box-percentage-indicator class="item-top item-top-center" data="80">Box</div>
                <div class="item-bottom">Mins</div>
            </div>
            <div class="col col-33 app-item-block">
                <div app-box-percentage-indicator class="item-top item-top-right" data="'unlimited'">Box</div>
                <div class="item-bottom">Txt</div>
            </div>

        </div>
    </div>

    <div class="app-thumb-table">
        <div class="col app-account-owner">
            <span>John bernard</span>
            <span class="app-push-right">11 Days Left</span>
        </div>
        <div class="col app-account-number">023-44-54456</div>

        <div class="row app-thumb-block">
            <div class="col col-33 app-item-block">
                <div app-box-percentage-indicator class="item-top item-top-left" data="40">Box</div>
                <div class="item-bottom">Data</div>
            </div>
            <div class="col col-33 app-item-block">
                <div app-box-percentage-indicator class="item-top item-top-center" data="20">Box</div>
                <div class="item-bottom">Mins</div>
            </div>
            <div class="col col-33 app-item-block">
                <div app-box-percentage-indicator class="item-top item-top-right" data="'unlimited'">Box</div>
                <div class="item-bottom">Txt</div>
            </div>

        </div>
    </div>
    <div class="app-thumb-table">
        <div class="col app-account-owner">
            <span>John bernard</span>
            <span class="app-push-right">11 Days Left</span>
        </div>
        <div class="col app-account-number">023-44-54456</div>

        <div class="row app-thumb-block">
            <div class="col col-33 app-item-block">
                <div app-box-percentage-indicator class="item-top item-top-left" data="40">Box</div>
                <div class="item-bottom">Data</div>
            </div>
            <div class="col col-33 app-item-block">
                <div app-box-percentage-indicator class="item-top item-top-center" data="20">Box</div>
                <div class="item-bottom">Mins</div>
            </div>
            <div class="col col-33 app-item-block">
                <div app-box-percentage-indicator class="item-top item-top-right" data="'unlimited'">Box</div>
                <div class="item-bottom">Txt</div>
            </div>

        </div>
    </div>
    <div class="app-thumb-table">
        <div class="col app-account-owner">
            <span>John bernard</span>
            <span class="app-push-right">11 Days Left</span>
        </div>
        <div class="col app-account-number">023-44-54456</div>

        <div class="row app-thumb-block">
            <div class="col col-33 app-item-block">
                <div app-box-percentage-indicator class="item-top item-top-left" data="40">Box</div>
                <div class="item-bottom">Data</div>
            </div>
            <div class="col col-33 app-item-block">
                <div app-box-percentage-indicator class="item-top item-top-center" data="20">Box</div>
                <div class="item-bottom">Mins</div>
            </div>
            <div class="col col-33 app-item-block">
                <div app-box-percentage-indicator class="item-top item-top-right" data="'unlimited'">Box</div>
                <div class="item-bottom">Txt</div>
            </div>

        </div>
    </div>
</div>