<div class="row app-list-view">
    <div class="app-list-table">
        <div class="col app-account-owner">
            <span>John bernard</span>
        </div>
        <div class="col app-account-number">023-44-54456</div>

        <ul class="app-list-block">
            <li class="col app-item-block">
                <span class="item-left">Plan Name</span>
                <span class="item-right">Advantage 59</span>
            </li>
            <li class="col app-item-block">
                <span class="item-left">Monthly charge</span>
                <span class="item-right">$59.00</span>
            </li>
            <li class="col app-item-block">
                <span class="item-left item-left-light">Data</span>
                <span class="item-right">6 GB</span>
            </li>
            <li class="col app-item-block">
                <span class="item-left item-left-light">Minutes</span>
                <span class="item-right">Unlimited</span>
            </li>
            <li class="col app-item-block">
                <span class="item-left item-left-light">Text national</span>
                <span class="item-right">Unlimited</span>
            </li>
        </ul>
    </div>

    <div class="app-list-table">
        <div class="col app-account-owner">
            <span>John bernard</span>
        </div>
        <div class="col app-account-number">023-44-54456</div>

        <ul class="app-list-block">
            <li class="col app-item-block">
                <span class="item-left">Plan Name</span>
                <span class="item-right">Advantage 59</span>
            </li>
            <li class="col app-item-block">
                <span class="item-left">Monthly charge</span>
                <span class="item-right">$59.00</span>
            </li>
            <li class="col app-item-block">
                <span class="item-left item-left-light">Data</span>
                <span class="item-right">6 GB</span>
            </li>
            <li class="col app-item-block">
                <span class="item-left item-left-light">Minutes</span>
                <span class="item-right">Unlimited</span>
            </li>
            <li class="col app-item-block">
                <span class="item-left item-left-light">Text national</span>
                <span class="item-right">Unlimited</span>
            </li>
        </ul>
    </div>
    <div class="app-list-table">
        <div class="col app-account-owner">
            <span>John bernard</span>
        </div>
        <div class="col app-account-number">023-44-54456</div>

        <ul class="app-list-block">
            <li class="col app-item-block">
                <span class="item-left">Plan Name</span>
                <span class="item-right">Advantage 59</span>
            </li>
            <li class="col app-item-block">
                <span class="item-left">Monthly charge</span>
                <span class="item-right">$59.00</span>
            </li>
            <li class="col app-item-block">
                <span class="item-left item-left-light">Data</span>
                <span class="item-right">6 GB</span>
            </li>
            <li class="col app-item-block">
                <span class="item-left item-left-light">Minutes</span>
                <span class="item-right">Unlimited</span>
            </li>
            <li class="col app-item-block">
                <span class="item-left item-left-light">Text national</span>
                <span class="item-right">Unlimited</span>
            </li>
        </ul>
    </div>
    <div class="app-list-table">
        <div class="col app-account-owner">
            <span>John bernard</span>
        </div>
        <div class="col app-account-number">023-44-54456</div>

        <ul class="app-list-block">
            <li class="col app-item-block">
                <span class="item-left">Plan Name</span>
                <span class="item-right">Advantage 59</span>
            </li>
            <li class="col app-item-block">
                <span class="item-left">Monthly charge</span>
                <span class="item-right">$59.00</span>
            </li>
            <li class="col app-item-block">
                <span class="item-left item-left-light">Data</span>
                <span class="item-right">6 GB</span>
            </li>
            <li class="col app-item-block">
                <span class="item-left item-left-light">Minutes</span>
                <span class="item-right">Unlimited</span>
            </li>
            <li class="col app-item-block">
                <span class="item-left item-left-light">Text national</span>
                <span class="item-right">Unlimited</span>
            </li>
        </ul>
    </div>
</div>